/* Alinhar no centro o navbar */
nav{
    text-align: center;
    align-items: center;
}

body{
    background: rgb(13,187,237);
    background: linear-gradient(36deg,
     rgba(13,187,237,1) 0%, 
     rgba(40,128,227,1) 29%, 
     rgba(0,27,228,1) 63%, 
     rgba(8,0,255,1) 100%);

    margin: 0; 
    padding: 0;
    background-size: 100%;
    position: relative;
    height: 100vh;
    width: 100%;
}

.menu{
    /* Margem de cima */
    margin-top: 26px;
    display: inline-block;
    /* Cor de fundo */
    background-color: black;
    margin: 10px auto;
    width: 160px;
    height: 45px;  
    /* Margem interna de cima */
    padding-top: 20px;
    color: #fff;
    /* Letra de forma */
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    /* Largura da letra */
    font-weight: lighter;
    /* Tamanho da letra */
    font-size: 21px;
    /* Transicão de entrada */
    transition: 1s;     
}
/* Ação que sera feita quando passar o mouse por cima */
li:hover{
    transition: 1s;
    color: black;
    background: #0dbbed;
}

ul li a{
    /* Tirar linha de baixo da letra */
    text-decoration: none;
    color: #fff;
} 

/* Posicionar o footer fixo em baixo */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;   
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    margin-top: 10fr;
}

#indaia{
    width: 50%;
    margin-left: 25%; 
   
}

#intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    margin-left: 40%; 
}

@media(max-width:542px) {
    #intro{
        margin-left: 24%;
    }
    #indaia{
        margin-left: 28%;
        margin-top: 30%;
    }
}

@media(max-width:480px) {
    #intro{
        margin-left: 20%;     
    }
    #indaia{
        margin-left: 28%;
        margin-top: 30%;
    }
}